canvas {
  height: 90%;
}

footer {
  border-top: thin solid #f3f3f3;
  text-align: center;
  background-color: #fafafa;
  color: #7a7a7a;
  padding: 32px;
  margin-top: 32px;
}

ul.legend {
  text-align: center;
}

ul.legend > li {
  cursor: pointer;
}

ul.legend > li > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
